@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); /* font import */

body {
    color: white;
    font-family: 'Lato', sans-serif;

    background-image: url("background.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;
}
div.container-fluid {
    display: flex;  
    flex-wrap: wrap;
    align-items: center; /* vertical center */
    justify-content: center; /* horizontal center */
    height: 100vh;
}

form.login-form {
    display: flex;
    flex-direction: column;
    align-content: center; 
    justify-content: center;

    min-width: 300px;
    min-height: 500px;

    background-color: #834f3c;
    border-radius: 30px;

    padding: 75px 50px 75px 50px;

    -webkit-box-shadow: -4px 4px 6px 0px rgba(89,51,38,1); /* box shadow */
    -moz-box-shadow: -4px 4px 6px 0px rgba(89,51,38,1);
    box-shadow: -4px 4px 6px 0px rgba(89,51,38,1);

    margin-top: 40px; /* horizontal resize */
    margin-bottom: 40px; /* horizontal resize */
}

h1 {
    text-align: center;
}

input {
    height: 40px;
    background-color: #593326;
    border: none;
    border-radius: 5px;

    font-size: 18px;
    color: white;
    padding-left: 10px;
}

input:focus {
    outline: none;
    border:1px solid white;
}

input:focus[type=checkbox] { /* removing input:focus styles for the checkbox input */
    border:none;
    box-shadow: none;
}

div.checkbox {
    display: flex;
    flex-direction: row;
}

label[for=checkbox] {
    padding-top: 8px;
    padding-left: 10px;
    font-size: 15px;
}

.btn {
    margin-top: 20px;
    border: solid 1px white;
    color: white;
}

.btn:hover {
    background-color: white;
    border: solid 1px white;
    color: #7c4836;
}

a {
    position: relative;
    top: 30px;
    text-align: center;
    text-decoration: underline;
    color: white;
}

a:hover{
    color: gray;
}
